 
 :root {
    --white: #f8f8f8;
    --grey: #707070;
    --blue: #1792D2;
    --navy: #143774;
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Ubuntu', sans-serif;
}

body {
    font-family: var(--ff-primary);
    margin: 0;
    background-color: white;
}

/* HEADER with Nav BAR */

header {
    padding: 2em 0;
    background-color: var(--white);
}

.container {
   /*border: 2px magenta solid;*/
   width: 90%;
   max-width: 50rem;
   /*margin: 0 auto; this centered our container div!*/
}

.container-nav {
   /*border: 2px magenta solid;  this allowed me to see the border of the container container-nav div so I could center the content */
   display: flex;
   justify-content: space-between; 
   margin-left: 6em;
}

h1 {
    font-size: 2.375rem;
    margin: 0;
    text-align: left;
}

.subtitle {
    font-family: var(--ff-secondary);
    text-align: left;
    letter-spacing: .2rem;
}

nav li {
    /*color: var(--grey);
    font-size: 1rem;
    font-size: .75rem; 
    width: auto;*/
    margin-left: 2em;
    font-family: var(--ff-secondary);
    letter-spacing: .2rem;
}


a {
    color: var(--grey);
}

nav a {
    text-decoration: none;
    padding: .25em 0;
    font-weight: 700;
}

nav a:hover,
nav a:focus {
    /*background-color: #FFDEAC;*/
    transition: all .9s ease;
    /*border-radius: .2rem;*/
    border-bottom: 1px solid #707070;
    /*opacity: rgba(255, 222, 172, 0.6); this didn't work after removing background color. why? */
}

.current-page {
   border-bottom: 1px solid #707070;
}

.current-page:hover {
   background-color: var(--white);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

/* BLOG BODY STYLING */

.title {
    color: var(--navy);
}

p {
    color: var(--blue);
    margin: 0;
}

.blogTitle {
    /*border: 2px magenta solid;*/
    color: var(--navy);
    font-size: 1.2rem;
    text-align: left;
    padding: 0 1em 1.2em 0em;
    margin-top: 0;
}

.blogTitleHero {
    padding: 0 1em 1.2em 0;
    margin-left: 0;
    text-align: left;
    color: var(--navy);
    font-size: 1.2rem;
}

.text {
    color: var(--grey);
    font-size: .9rem;
    margin-top: 0;
}

.innerHeroText {
    margin-left: 0;
    text-align: left;
    font-size: .9rem;
    color: var(--grey);
}

img {
    width: 100%;
    height: auto;
}

.large-container {
    /*border: 2px magenta solid;*/
    display: flex;
    background-color: white;
}

.thumbNails,
.sidebarChild {
    color: var(--navy);
    font-family: var(--ff-secondary);  
}

.thumbNails {
    font-size: 1.5rem;
    letter-spacing: .2rem;
}

.sidebarChild {
    /*border: 2px magenta solid;*/
    border: 1.5em solid var(--white);
    padding: 1em 2em 2em 2em;
    margin-top: 6em;

}

.inner-container,
.hero,
.subsection {
    /*border: 2px magenta solid;*/
    padding: 3em;
}

.heroText {
    border-bottom: 1px solid var(--grey);
}

.innerBlogText {
    margin-left: 1em;
}

.aboutMeText {
    /*border: 2px magenta solid;*/
    font-family: var(--ff-primary);
    color: var(--navy);
    padding: 1em 1em 1.2em 0;
}

.blogsSection {
    display: flex;
    flex-direction: column;
}

.subsection {
    display: flex;
    flex-direction: row;
}

.innerBlogText,
.text {
    /*border: 2px magenta solid;*/
    text-align: left;
    padding: 0 1em 1.2em 0em;
    /*width: 30em;*/
    margin-top: 0;
}

.text a,
.innerHeroText a {
    color: var(--blue);
}

.heroText {
    /*border: 2px magenta solid;*/
    text-align: left;
    padding: 1.2em 1em 1.2em 0;
}

.sidebarChild {
    /*border: 2px magenta solid;*/
    width: 15em;
}

.thumbnailPostSections {
    /*border: 2px magenta solid;*/
    padding: 1em;
    font-family: var(--ff-primary);
    color: var(--navy);
    border-bottom: var(--grey);
}

.thumbnailBlogTitle a {
    font-family: var(--ff-primary);
    color: var(--navy);
}

footer p {
    background-color: var(--navy);
    color: var(--grey);
    font-family: var(--ff-secondary);
    height: 2em;
    padding: 1em;
    text-align: center;

}

/* media queries */

@media (max-width: 700px) {
   
    .container {
        margin: 0 auto;
    }

   .container-nav {
       flex-direction: column;
       
   }
   
   header {
       text-align: center;
   }

   h1,
   .subtitle {
       text-align: center;
   }
   
   nav ul {
       flex-direction: column;
   }
   
   nav li {
       margin: .5em 0;     
   }

   .large-container {
       flex-direction: column;
   }

   .main-sidebar,
   .sidebarChild {
       margin: 0 auto;
   }

   .subsection {
    flex-direction: column;
}
}